<div id="sidebar">
  <div class="profile-box">
    <div class="arrow"></div>
    <div class="person-box cfx">
      <div class="person-image img">
        <%= image_tag current_user.image %>
      </div>
      <div class="person-info">
        <div class="person-info-main">
          <b><%= current_user.name %></b><br>
        </div>
      </div> <!-- //person-info -->
    </div> <!-- //person-box -->
  </div> <!-- //profile-box -->
</div> <!-- //sidebar -->
